.container {
    margin: 20px 10%;
    border: 1px solid darkgray;
    display: inline-block;
    box-sizing: border-box;
    width: 80%;
    padding: 10px;

}

.inner-container {
    display: inline-block;
    margin: 20px 10%;
    width: 80%;
    border: 1px solid darkgray;
    padding: 10px;

}

.container-title {
    color: #394646;
}

.sub-heading {
    text-align: left;
}

/* Password Validator Style Start */
.validator-label {
    font-size: 20px;
    color: #394646;
}

.validator-input {
    font-size: 17px;
    padding: 2px;
}

.validator-submit {
    font-size: 17px;
    padding: 2px 5px;
    background: #bf80ff;
    color: white;
}

#validator-errors {
    font-size: 17px;
    font-weight: bold;
    color: red;
}
#validator-success {
    font-size: 17px;
    font-weight: bold;
    color: green;
}

/* Password Validator Style END */

/* Customer Data Style START */
.customer-data {
    font-size: 17px;
    padding: 10px;
    border-top: 1px solid darkgray;
}

/* Customer Data Style END */

/* MENU Table START*/
#menu-table {
    width: 100%;
}

.food-name {
    border-top: 1px solid darkgray;
    text-align: left;
    padding: 10px 5px;
}

.food-price {
    text-align: center;
    border-top: 1px solid darkgray;
}

.food-quantity {
    text-align: left;
    border-top: 1px solid darkgray;
}

.food-quantity input {
    padding: 5px;
}

/* MENU Table END*/
/* Bills Table Start*/
#bills-table {
    width: 100%;
}

.bill-name {
    text-align: right;
    padding-right: 20px;
    width: 50%;
    margin-bottom: 10px;
}

.bill-value {
    display: inline-block;
    width: 50%;
    border: 1px solid black;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#bill-button {

    font-size: 17px;
    padding: 5px 15px;
    background: #bf80ff;
    color: white;
}

/* Bills Table END*/

